@if(errorMsg) {
    <div class="error-containers">
        <p>{{errorMsg}}</p>
    </div>
}
@if(wine){
    <form class="edit-form" #form="ngForm" (ngSubmit)="edit(form)">
        <label for="name">Wine:</label>
        <input type="text" id="name" name="name" placeholder={{wine.name}}
        
            ngModel
            #inputName="ngModel"
            required
        >
    
        <label for="type">Type of wine:</label>
        <input type="text" id="type" name="type" placeholder={{wine.type}}
            ngModel
            #inputType="ngModel"
            required
        >
    
        <label for="grapeVariety">Grape variety:</label>
        <input type="text" id="grape" name="grapeVariety" placeholder={{wine.grapeVariety}}
            ngModel
            #inputGrapeVariety="ngModel"
            required
        >
    
        <label for="vintage">Vintage:</label>
        <input type="number" id="vintage" name="vintage" placeholder={{wine.vintage}}
            ngModel
            #inputVintage="ngModel"
            required
        >
            
        <label for="wineCellar">Wine cellar:</label>
        <input type="text" id="wine-cellar" name="wineCellar" placeholder={{wine.wineCellar}}
            ngModel
            #inputWineCellar="ngModel"
            required
        >
    
        <label for="regionCountry">Region/country:</label>
        <input type="text" id="region-country" name="regionCountry" placeholder={{wine.regionCountry}}
            ngModel
            #inputRegionCountry="ngModel"
            required
        >
    
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" placeholder={{wine.price}}
            ngModel
            #inputPrice="ngModel"
            required
        >
           
    
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" placeholder={{wine.description}}
            ngModel
            #inputDescription="ngModel"
            required
        ></textarea>
    
        <label for="image">Image URL:</label>
        <input type="url" id="image" name="" placeholder={{wine.image}}
            ngModel
            #inputImage="ngModel"
            required
        >
    
        <button>Save Changes</button>
    </form>    
}
