<form class="edit-form" action="" method="">
    <label for="name">Wine:</label>
    <input type="text" id="name" name="name" value="">

    <label for="type">Type of wine:</label>
    <input type="text" id="type" name="type" value="">

    <label for="grape-variety">Grape variety:</label>
    <input type="text" id="grape" name="grape-variety" value="">

    <label for="vintage">Vintage:</label>
    <input type="number" id="vintage" name="vintage" value="">
        
    <label for="wine-cellar">Wine cellar:</label>
    <input type="text" id="wine-cellar" name="wine-cellar" value="">

    <label for="region-country">Region/country:</label>
    <input type="text" id="region-country" name="region-country" value="">

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="">
       

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4"></textarea>

    <label for="image">Image URL:</label>
    <input type="url" id="image" name="" value="">

    <button type="submit">Save Changes</button>
</form>
