<!-- <div class="error-containers">
            <p>Error</p>
        </div> -->
        
        <form class="wine-form">
            <label for="name">Wine: </label>
            <input type="text" id="name" name="name">

            <label for="type">Type of wine: </label>
            <input type="text" id="type" name="type">

            <label for="grape-variety">Grape variety: </label>
            <input type="text" id="grape-variety" name="grape-variety">

            <label for="vintage">Vintage: </label>
            <input type="number" id="vintage" name="vintage">

            <label for="wine-cellar">Wine cellar:</label>
            <input type="text" id="wine-cellar" name="wine-cellar">

            <label for="region-country">Country/Region:</label>
            <input type="text" id="region-country" name="region-country">

            <label for="price">Price (euro):</label>
            <input type="number" id="rings" name="price">
                

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4"></textarea>

            <label for="image">Image URL:</label>
            <input type="url" id="image" name="image">

            <button type="submit">Add Wine</button>
        </form>
