<!-- <div class="error-containers">
            <p>Error</p>
        </div> -->
        
        <form class="wine-form">
            <label for="name">Wine: </label>
            <input type="text" id="name" name="name">

            <label for="type">Type of wine: </label>
            <input type="text" id="type" name="type">

            <label for="grapeVariety">Grape variety: </label>
            <input type="text" id="grapeVariety" name="grapeVariety">

            <label for="vintage">Vintage: </label>
            <input type="number" id="vintage" name="vintage">

            <label for="wineCellar">Wine cellar:</label>
            <input type="text" id="wineCellar" name="wineCellar">

            <label for="regionCountry">Country/Region:</label>
            <input type="text" id="regionCountry" name="regionCountry">

            <label for="price">Price (euro):</label>
            <input type="number" id="rings" name="price">
                

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4"></textarea>

            <label for="image">Image URL:</label>
            <input type="url" id="image" name="image">

            <button type="submit">Add Wine</button>
        </form>
