/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.error-containers {
    position: fixed;
    right: 5em;
    min-width: 80px;
    display: block;
    z-index: 11111;
    top: 13%;
    text-align: center;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    height: auto;
    width: 300px;
    padding: 1em;
}

.error-containers > p {
    background: #2c3e50;
    font-size: 18px;
    padding: 10px;
    height: auto;
}

.error-containers {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

