<div class="wine-details">
    <img src="https://meik98.bg/images/detailed/5/BIG_IMG_12808237948206.jpg">
    <div class="wine-info">
        <h2>Wine: Merlot Redark 2001</h2>
        <p><strong>type of wine:</strong> Red </p>
        <p><strong>grape variety:</strong> Merlot</p>
        <p><strong>vintage:</strong> 2001</p>
        <p><strong>wine cellar</strong> Damyanitza</p>
        <p><strong>region/country:</strong> Struma valley/Bulgaria</p>
        <p><strong>price:</strong> 115.00 euro</p>
        <p><strong>raiting:</strong> 0 points</p>
        <p><strong>Description:</strong> Fine dry red wine from Struma valley, Bulgaria.</p>
    </div>

    <div class="actions">
        <a id="like-button" class="like-btn" href="">Like</a>
        <a class="edit-btn" [routerLink]="['/catalog', 'product', 'edit']">Edit</a>
        <a class="delete-btn" href="">Delete</a>
    </div>
    <p id="liked-message" class="liked-message hidden">You've already liked this wine.</p>
</div>
