<div class="search-form-container">
    <form id="searchForm" class="search-form" #form="ngForm" (ngSubmit)="query(form)">
        <label for="name">Wine Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter wine name" 
        ngModel
        #inputName
        >

        <label for="type">Type of wine:</label>
        <input type="text" id="type" name="type" placeholder="Enter type of wine"
        ngModel
        #inputType
        >

        <button >Search</button>
    </form>
</div>

<div id="searchResults" class="search-results hidden">
    <h2>Matching wines:</h2>
    @if(wines) {
        @for (wine of wines; track $index) {
            <div class="wine-result">
                <img src={{wine.image}} alt="wine X" class="wine-img">
                <div class="wine-info">
                    <p><strong>Wine Name:</strong> {{wine.name}}</p>
                    <p><strong>Type of wine:</strong> {{wine.type}}</p>
                    <a class="detail-btn" [routerLink]="['/catalog/product/details', wine._id]" >Details</a>
                </div>
            </div>
        }

    } @else {
        <p class="no-matches">There are no wines found yet!</p>
    }
    
</div>
