/*main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    min-height: 500px;
}*/

.wine-card {
    background: #333;
    border-radius: 20px;
    border: 2px solid brown;
    padding: 20px;
    width: calc(50% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.wine-card:hover {
    transform: translateY(-10px);
}

.wine-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.wine-card h3,
.wine-card p {
    margin: 10px 0;
}

.wine-card p {
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #202340;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.detail-btn {
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.detail-btn:hover {
    background-color: #45a049;
}

.no-post {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    border-top: 1px solid #2c3e50;
}
